.opdracht-1 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
    /*border-style: solid;*/
    /*border-color: purple;*/
}

.opdracht-2 ul{
    display: flex;
    flex-direction: row;
}
/*hier had ik ChatGPT voor nodig om hier uit te komen*/
.opdracht-2 li {
    flex: 1;
}


.opdracht-3 ul {
    display: flex;
    justify-content: space-between;
}

.opdracht-3 .li-1-opdr-3 {
    align-self: flex-start;
}

.opdracht-3 .li-2-opdr-3 {
    align-self: center;
    /*background-color: red;*/
    /*border-color: hotpink;*/
}

.opdracht-3 .li-3-opdr-3 {
    align-self: flex-end;
}


.opdracht-4 ul {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    gap: 10px 10px
    /*align-items: stretch;*/
}
